# Thirsty language family files
*.thirsty linguist-language=Thirsty-lang linguist-detectable
*.tog linguist-language=Thirsty-lang linguist-detectable
*.tarl linguist-language=Thirsty-lang linguist-detectable
*.shadow linguist-language=Thirsty-lang linguist-detectable

# Documentation
*.md linguist-documentation
